# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://.....................us-east-2.aws.neon.tech/ecommerce?sslmode=require"
ADMIN_USERNAME = "admin"
ADMIN_HASHED_PASSWORD = "x61Ey612Kl2gpFL56FT..........x2AuTHdRyY036xxzTTrw10Wq3+4qQyB+XURPWx1ONxp3Y3pB37A=="
STRIPE_SECRET_KEY = "sk_test_51PCjwHSFklRnO......OKwtgAUnV2R7cvu5zWRo1nzyNsOrFQFaEYyWx0bJVUmajNDuz8ysg00JjwI86iG"
STRIPE_WEBHOOK_SECRET= "whsec_bc58d240244........aaec869becac183cbb171e682360ead229992a"
RESEND_API_KEY = "re_GiqpVTxM_3P5GcpdC.......HW5MAhpfzvC"
SENDER_EMAIL= "onboarding@resend.dev"

NEXT_PUBLIC_STRIPE_PUBLIC_KEY = "pk_test_51PCjwHSFklRnORqyRFpKC938CWLniG5s8JDqmAKcJHj1y5fZ6UIA8FDbKPZonxM3MLaMFFJ0efwCEpqqlLlV3luH00EVvITgfR"
NEXT_PUBLIC_SERVER_URL= "http://localhost:3000"


